/* Главный баннер с катером, идущим на зрителя */
.hero {
    height: 95vh;
    display: flex;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgba(6, 11, 20, 0.5), rgba(6, 11, 20, 0.85)), 
                url('unsplash.com') no-repeat center center/cover;
    padding-top: 80px;
}
